<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="PersonInfoInterface" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Email" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DBAccess" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ActiveDirectory" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <log4net>
    <appender name="RollingInfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\local\log\file\location\InfoLog.csv" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="RollingErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\local\log\file\location\ErrorLog.csv" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Class = %c%nLevel = %p%nDate = %d{MM/dd/yyyy HH:mm:ss}%n%m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <appender-ref ref="RollingInfoFileAppender"/>
      <appender-ref ref="RollingErrorFileAppender"/>
    </root>
  </log4net>

  <PersonInfoInterface>
    <add key="PackageName" value="PACKAGE_NAME"/> <!-- Ensure it matches your package name exactly!! -->
    <add key="OracleProcedureName" value="PACKAGE_NAME.ProcedureName"/> <!-- Has to match the procedure name exactly! -->
    <add key="OracleUDTPersonRecordCollectionName" value="SCHEMA_NAME.USERCOLLECTION"/> <!-- Has to match the Collection name exactly! Also a schema level Collection -->
    <add key="GetErrorLogInformationProcName" value="ProcedureName"/> <!-- Has to match the procedure name exactly! -->
    <add key="GetChangeLogInformationProcName" value="ProcedureName"/> <!-- Has to match the procedure name exactly! -->
    <add key="GetErrorLogCountProcName" value="ProcedureName"/> <!-- Has to match the procedure name exactly! -->
    <add key="GetNewRecordCountProcName" value="ProcedureName"/> <!-- Has to match the procedure name exactly! -->
    <add key="GetUpdatedRecordCountProcName" value="ProcedureName"/> <!-- Has to match the procedure name exactly! -->
    <add key="GetDeletedRecordCountProcName" value="ProcedureName"/> <!-- Has to match the procedure name exactly! -->
  </PersonInfoInterface>

  <Email>
    <add key="SuccessRecipient" value="email@address.com"/>
    <add key="DebugRecipient" value="email@address.com"/>
    <add key="ErrorRecipient" value="email@address.com"/>
    <add key="smtpserver" value="" />  <!-- SMTP Server address -->
    <add key="smtpport" value="" /> <!-- SMTP Port -->
    <add key="smtpusername" value="email@address.com" />
    <add key="smtppassword" value="" />  <!-- SMTP Password -->
    <add key="sendFrom" value="email@address.com"/>
    <add key="sendFromName" value=""/>
  </Email>
  
  <DBAccess>
    <add key="DBConnectionString" value=""/>  <!-- Add in your connection string -->
  </DBAccess>
  
  <ActiveDirectory>
    <add key="AD_OUs" value=""/>  <!-- Add in your OU locations -->
    <add key="ADPropertiesToLoad" value=""/> <!-- Add in the Active Directory properties you wish to collect -->
    <add key="AD_OUs_Path1" value=""/>  <!-- Top layer of AD path -->
    <add key="AD_OUs_Path2" value=""/> <!-- Second level of AD path -->
    <add key ="ADSearchFilter" value="(&amp;(objectCategory=User)(objectClass=person))"/>
    <add key ="ADSearchPageSize" value="1000"/>
  </ActiveDirectory>
  
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
